.services-main{
    width: 70%;
    margin: 50px auto;
}
.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
  }
.hotels{
    display: flex;
    flex-direction: column;
    width: 74%;
    margin: auto;
}
.hotels h3{
    margin-left: 2.5rem;
    color: rgb(49, 46, 46);
}

